# Python cache
__pycache__/
*.pyc

# Environment variables (IMPORTANT)
.env
*.env

# Logs / outputs
feedback_log.csv

# System files
.DS_Store

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/